<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
</head>
<body>
    <center>
        <h4>Reset Password</h4>
        <% if (status) { %>
            <form method="post">
                <%= message %><br />
                <input type="password" name="password" placeholder="New Password" style="width: 200px;height: 20px"> <br /> <br />

                <input type="password" name="confirmPassword" placeholder="Confirm Password" style="width: 200px;height: 20px"> <br /> <br />

                <input type="submit" value="Reset Password"/>
            </form>
        <% } else { %>
            <%= message %>
        <% } %>
    </center>
</body>
</html>